<div class="main">
  <div class="sidebar">
    <div class="block">
      <p>Steve Jobs<br>
         1 Infinite Loop<br>
         Cupertino, CA 90000<br>
         310-555-5555
      </p>
    </div>
    <div class="block">
      <h3>Condition</h3>
      <ul>
        <li><a href="#">All</a></li>
        <li><a href="#">Cleanable</a></li>
        <li><a href="#">Salvageable</a></li>
        <li><a href="#">Total Loss</a></li>
      </ul>
    </div>
    <div class="block">
      <h3>Status</h3>
      <ul>
        <li><a href="#">All</a></li>
        <li><a href="#">Packout</a></li>
        <li><a href="#">Inspection</a></li>
        <li><a href="#">Packback</a></li>
        <li><a href="#">Returned</a></li>
      </ul>
    </div>
  </div>
  <div class="content">
  <%=image_tag("heading_inventory.png", :class => "heading")%>
    <div class="block">
      <table border="2">
        <tr>
          <th>Item Name</th>
          <th>Room</th>
          <th>Local Location</th>
          <th>Global Location</th>
          <th>Condition</th>
          <!--<th>Status</th>-->
          <th>Image</th>
        </tr>
        <% @inventories.each do |inventory| %>
          <tr>
            <td><%= link_to inventory.item_name, inventory_path(current_subscription.username, inventory)%></td>
            <td><%= inventory.room%></td>
            <td><%= inventory.local_location_1%> <%=inventory.local_location%></td>
            <td><%= inventory.global_location_1%> <%=inventory.global_location%></td>
            <td><%= inventory.condition%></td>
            <td><%= image_tag(inventory.avatar.url(:thumb), :class => 'inventory') %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
