<div class="main">
  <div class="sidebar">
    <div class="block">
      <h3>Job</h3>
      <p><%=@inventory.job.customer_name%><br/>
         <%=@inventory.job.address%><br/>
         <%=@inventory.job.phone%><br/>
      </p>
    </div>
    <div class="block">
      <div class="block">
        <h3>Condition</h3>
        <dl class="stats">
          <dt>All</dt>
          <dd><a href="#">50</a></dd>
          <dt>Cleanable</dt>
          <dd><a href="#">30</a></dd>
          <dt>Salvageable</dt>
          <dd><a href="#">5</a></dd>
          <dt>Total Loss</dt>
          <dd><a href="#">5</a></dd>
        </dl>
      </div>
    </div>
    <div class="block">
      <h3>Status</h3>
      <dl class="stats">
        <dt>All</dt>
        <dd><a href="#">50</a></dd>
        <dt>Packout</dt>
        <dd><a href="#">20</a></dd>
        <dt>Inspection</dt>
        <dd><a href="#">10</a></dd>
        <dt>Processing</dt>
        <dd><a href="#">5</a></dd>
        <dt>Packback</dt>
        <dd><a href="#">14</a></dd>
        <dt>Returned</dt>
        <dd><a href="#">0</a></dd>
        <dt>Disposed</dt>
        <dd><a href="#">1</a></dd>
      </dl>
    </div>
  </div>
  <div class="content">
    <%=image_tag("heading_inventory.png", :class => "heading")%>
    <div class="breadcrumbs">
      <ul>
        <li><a href="#">Dashboard</a><span class="separator">/</span></li>
        <li><a href="#">Steve Jobs</a><span class="separator">/</span></li>
        <li><a href="#">Inventory</a><span class="separator">/</span></li>
        <li><a href="#">Add Inventory Item</a></li>
      </ul>
    </div>
    <div class="block">
      <%=form_for @inventory, :html => { :multipart => true } do |f|%>
        <% if @inventory.errors.any? %>
        <div id="errorExplanation">
          <h2><%= pluralize(@inventory.errors.count, "error") %> prohibited
              this post from being saved:</h2>
          <ul>
          <% @inventory.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
        <% end %>
        <dl>
          <dt>Item Name</dt>
          <dd><%= f.text_field :item_name %></dd>
          <dt>Room</dt>
          <dd>
            <%= f.select("room", ["kitchen", "kitchen"])%>
          </dd>
          <dt>Local Location</dt>
          <dd>
            <%= f.select("local_location_1", ["Box", "Stand-alone"])%>
            <dd><%= f.text_field :local_location %></dd>
          </dd>
          <dt>Global Location</dt>
          <dd>
            <%= f.select("global_location_1", ["Box", "Stand-alone"])%>
            <dd><%= f.text_field :global_location %></dd>
          </dd>
          <dt>Condition</dt>
          <dd>
            <%= f.select("condition", ["Cleanable", "Salvageable", "Total Loss"])%>
          </dd>
          <dt>Notes</dt>
          <dd><%= f.text_area :notes, :cols => 40, :rows => 05 %></dd>
          <dt>Packout Image</dt>
          <dd><%= f.file_field :avatar %></dd>
          <dt></dt>
          <%= hidden_field_tag "inventory[job_id]", "#{@job.id}" if @job.present?%>
          <dd><%= f.submit %></dd>
        </dl>
      <% end %>
    </div>
  </div>
</div>
