<!DOCTYPE html>
<html>
<head>
<title>Contents</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
<link rel="stylesheet" href="stylesheet.css" type="text/css" media="screen" />
</head>

<body>
  
  <div class="header">
    <div class="container">
      <div class="logo">
        <img src="images/logo_.png">
      </div>
      <div class="navigation">
        <ul>
        </ul>
      </div>
    </div>
  </div>

<div class="wrapper paper">

<div class="main">
  <div class="sidebar">
    
  </div>
  <div class="content">
    <div class="block">
      <h2>Item Details <span class="heading_nav"><%=link_to 'Edit', edit_inventory_path(@inventory)%></span></h2>
        <dl>
          <dt>Item Name</dt>
          <dd><%= @inventory.item_name%></dd>
          <dt>Room</dt>
          <dd><%=@inventory.room%></dd>
          <dt>Local Location</dt>
          <dd><%=@inventory.local_location_1%>-<%=@inventory.local_location%></dd>
          <dt>Global Location</dt>
          <dd><%=@inventory.global_location_1%>-<%=@inventory.global_location%></dd>
          <dt>Condition</dt>
          <dd><%=@inventory.condition%></dd>
          <dt>Notes</dt>
          <dd><%=@inventory.notes%></dd>
          <dt>Packout Image</dt>
          <dd><%= image_tag(@inventory.avatar.url(:thumb)) %></dd>
        </dl>
      <h2>Status</h2>
        <dl>
          <%@inventory.situations.each do |situation| %>
            <dt><%=situation.created_at%></dt>
            <dd><%=situation.name%></dd>
          <% end %>
          </br>
          <dt>Status</dt>
          <dd>
          <dd>
            <%= form_tag( "/add_situation/#{@inventory.id}", :method => "post") do %>
              <%=select_tag("situation", options_from_collection_for_select(Situation.all, :id, :name))%>
              <%= submit_tag 'Update Status' %>
          </dd> 
            <%end%>
        </dl>
    </div>
  </div>
</div>

</div>

<div class="footer">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/terms">Terms</a></li>
    <li><a href="/privacy">Privacy</a></li>
    <li><img src="images/logo_footer_jlinshirt.png"></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/twitter">Twitter</a></li>
    <li><a href="/facebook">Facebook</a></li>
  </ul>
</div>

</body>
</html>
