.main
  .sidebar
    .block
      %h3 Contacts
      %ul
        %li
          = link_to 'Add New Contact', new_person_path(current_subscription.username)
    .block
      %h3 Types
      %dl.stats
        %dt All
        %dd
          = link_to current_subscription.find_people("All").to_s, people_path(current_subscription.username, :type => "All")
        %dt Customers
        %dd
          = link_to current_subscription.find_people("Customer").to_s, people_path(current_subscription.username, :type => "Customer")
        %dt Adjusters
        %dd
          = link_to current_subscription.find_people("Adjuster").to_s, people_path(current_subscription.username, :type => "Adjuster")
        %dt Technicians
        %dd
          = link_to current_subscription.find_people("Technician").to_s, people_path(current_subscription.username, :type => "Technician")
  .content
    = image_tag("heading_contacts.png", :class => "heading")
    .breadcrumbs
      %ul
        %li
          = link_to "Dashboard", dashboards_path(current_subscription.username)
          %span.separator /
        %li
          = link_to 'Contacts', people_path(current_subscription.username)
    .block
      %table
        %tr
          %th Contact Type
          %th Contact Name
          %th Address
          %th City
          %th State
          %th Phone Number
          %th Insurance Company
        - @person.each do |person|
          %tr
            %td= link_to person.contact_type, person_path(current_subscription.username, person) 
            %td= person.contact_name
            %td= person.address
            %td= person.city
            %td= person.state
            %td= person.phone_no
            %td= InsuranceCompany.find(person.insurance_company).name
