.main
  .sidebar
    .block
      %h3 Contacts
      %ul
        %li
          %a{:href => "#"} View All Contacts
    .block
      %h3 Types
      %dl.stats
        = render 'people_types'
  .content
    = image_tag("heading_contacts.png", :class => "heading")
    .breadcrumbs
      %ul
        %li
          %a{:href => "#"} Dashboard
          %span.separator /
        %li
          %a{:href => "#"} Contacts
          %span.separator /
        %li
          %a{:href => "#"} Add New Contact
    .block
      = form_for @person do |f| 
        = hidden_field_tag "person[subscription_id]", current_subscription.id
        %h2 Contact Information
        %dl
          %dt Contact Type
          %dd
            = f.select :contact_type, [["Customer", "Customer"], ["Adjuster", "Adjuster"], ["Technician", "Technician"]]
          %dt Insurance Company
          %dd
            = f.select :insurance_company, @insurance_companies.all.collect {|p| [ p.name, p.id ] }
            %span.form_details
              = link_to 'Add new', "#", :class => 'add_new_insurance_comp'
          %dt Contact Name
          %dd
            = f.text_field :contact_name
          %dt Address
          %dd
            = f.text_field :address
          %dt City
          %dd
            = f.text_field :city
          %dt State
          %dd
            = f.select :state, options_for_select(['Ohio'])
          %dt Zip Code
          %dd
            = f.text_field :zip_code
          %dt Phone Number
          %dd
            = f.text_field :phone_no
          %dt Email Address
          %dd
            = f.text_field :email
          %dt
          %dd            
            = f.submit
