.main
  .sidebar
    .block
      %h3 Contacts
      %ul
        %li
          = link_to "View All Contacts", people_path(current_subscription.username)
    .block
      %h3 Types
      %dl.stats
        = render 'people_types'
  .content
    = image_tag("heading_contacts.png", :class => "heading")
    .breadcrumbs
      %ul
        %li
          = link_to "Dashboard", dashboards_path(current_subscription.username)
          %span.separator /
        %li
          = link_to 'Contacts', people_path(current_subscription.username)
    .block
      = form_for @person do |f| 
        = hidden_field_tag "person[subscription_id]", current_subscription.id
        %h2 Contact Information
        %dl
          %dt Contact Type
          %dd
            = f.select :contact_type, [["Customer", "Customer"], ["Adjuster", "Adjuster"], ["Technician", "Technician"]]
          %dt{:class => 'notech'} Insurance Company
          %dd{:class => 'notech'}
            = f.select :insurance_company, @insurance_companies.all.collect {|p| [ p.name, p.id ] }
            %span.form_details
              = link_to 'Add new', "#", :class => 'add_new_insurance_comp'
          %dt Contact Name
          %dd
            = f.text_field :contact_name
          %dt{:class => 'notech'} Address
          %dd{:class => 'notech'}
            = f.text_field :address
          %dt{:class => 'notech'} City
          %dd{:class => 'notech'}
            = f.text_field :city
          %dt{:class => 'notech'} State
          %dd{:class => 'notech'}
            = f.select :state, options_for_select(['Ohio'])
          %dt{:class => 'notech'} Zip Code
          %dd{:class => 'notech'}
            = f.text_field :zip_code
          %dt{:class => 'notech'} Phone Number
          %dd{:class => 'notech'}
            = f.text_field :phone_no
          %dt Email Address
          %dd
            = f.text_field :email
          %dt
          %dd            
            = f.submit

= javascript_tag("hideFormElements('#{@person.contact_type}')") unless @person.new_record?
