.main
  .sidebar
    .block
      %h3 Contacts
      %ul
        %li
          = link_to "View All Contacts", people_path(current_subscription.username)
    .block
      %h3 Types
      %dl.stats
        %dt All
        %dd
          %a{:href => "#"} 5
        %dt Customers
        %dd
          %a{:href => "#"} 2
        %dt Adjusters
        %dd
          %a{:href => "#"} 2
        %dt Technicians
        %dd
          %a{:href => "#"} 1
  .content
    = image_tag("heading_contacts.png", :class => "heading")
    .breadcrumbs
      %ul
        %li
          = link_to "Dashboard", ''
          %span.separator /
        %li
          = link_to 'Contacts', '#'
          %span.separator /
        %li
          = link_to "Steve Jobs", '#'
    .block
      %h2
        Contact Information
        %span.heading_nav
          = link_to 'Edit', '#'
      %dl
        %dt Contact Type
        %dd
          = @person.contact_type
        %dt Insurance Company
        %dd= InsuranceCompany.find(@person.insurance_company).name
        %dt Contact Name
        %dd= @person.contact_name
        %dt Address
        %dd= @person.address
        %dt City
        %dd= @person.city
        %dt State
        %dd= @person.state
        %dt Zip Code
        %dd= @person.zip_code
        %dt Phone Number
        %dd= @person.phone_no
        %dt Email Address
        %dd= @person.email
