.main
  .sidebar
    .block
      %h3 Contacts
      %ul
        %li
          = link_to "View All Contacts", people_path(current_subscription.username)
    .block
      %h3 Types
      %dl.stats
        = render 'people_types'
  .content
    = image_tag("heading_contacts.png", :class => "heading")
    .breadcrumbs
      %ul
        %li
          = link_to "Dashboard", dashboards_path(current_subscription.username)
          %span.separator /
        %li
          = link_to 'Contacts', people_path(current_subscription.username)
          %span.separator /
        %li
          = link_to @person.contact_name, '#'
    .block
      %h2
        Contact Information
        %span.heading_nav
          = link_to 'Edit', edit_person_path(current_subscription.username, @person)
      %dl
        %dt Contact Type
        %dd
          = @person.contact_type
        %dt Insurance Company
        - if @person.insurance_company
          %dd= InsuranceCompany.find(@person.insurance_company).name
        %dt Contact Name
        %dd= @person.contact_name
        %dt Address
        %dd= @person.address
        %dt City
        %dd= @person.city
        %dt State
        %dd= @person.state
        %dt Zip Code
        %dd= @person.zip_code
        %dt Phone Number
        %dd= @person.phone_no
        %dt Email Address
        %dd= @person.email
