.main
  .sidebar
    .block
      %h3 Contacts
      %ul
        %li
          = link_to "View All Contacts", people_path(current_subscription.username)
    .block
      %h3 Types
      %dl.stats
        %dt All
        %dd
          = link_to current_subscription.find_people("All").to_s, people_path(current_subscription.username, :type => "All")
        %dt Customers
        %dd
          = link_to current_subscription.find_people("Customer").to_s, people_path(current_subscription.username, :type => "Customer")
        %dt Adjusters
        %dd
          = link_to current_subscription.find_people("Adjuster").to_s, people_path(current_subscription.username, :type => "Adjuster")
        %dt Technicians
        %dd
          = link_to current_subscription.find_people("Technician").to_s, people_path(current_subscription.username, :type => "Technician")
  .content
    = image_tag("heading_contacts.png", :class => "heading")
    .breadcrumbs
      %ul
        %li
          = link_to "Dashboard", dashboards_path(current_subscription.username)
          %span.separator /
        %li
          = link_to 'Contacts', people_path(current_subscription.username)
          %span.separator /
        %li
          = link_to @person.contact_name, '#'
    .block
      %h2
        Contact Information
        %span.heading_nav
          = link_to 'Edit', edit_person_path(current_subscription.username, @person)
      %dl
        %dt Contact Type
        %dd
          = @person.contact_type
        %dt Insurance Company
        %dd= InsuranceCompany.find(@person.insurance_company).name
        %dt Contact Name
        %dd= @person.contact_name
        %dt Address
        %dd= @person.address
        %dt City
        %dd= @person.city
        %dt State
        %dd= @person.state
        %dt Zip Code
        %dd= @person.zip_code
        %dt Phone Number
        %dd= @person.phone_no
        %dt Email Address
        %dd= @person.email
