<div class="header">
  <div class="container">
    <div class="logo">
      <img src="images/logo_.png">
    </div>
  </div>
</div>

<div class="wrapper paper">
  <div class="main">
    <div class="sidebar">
      <div class="block">
        <h3>Jobs</h3>
        <ul>
          <li><%= link_to "Add New Job", new_job_path %></li>
        </ul>
      </div>
      <div class="block">
        <h3>Status</h3>
        <dl class="stats">
          <dt>All</dt>
          <dd><a href="#">11</a></dd>
          <dt>Active</dt>
          <dd><a href="#">4</a></dd>
          <dt>Inactive</dt>
          <dd><a href="#">2</a></dd>
          <dt>On Hold</dt>
          <dd><a href="#">1</a></dd>
          <dt>Complete</dt>
          <dd><a href="#">4</a></dd>
      </div>
    </div>
    <div class="content">
      <%=image_tag("heading_jobs.png", :class => "heading")%>
      <div class="breadcrumbs">
        <ul>
          <li><a href="#">Dashboard</a><span class="separator">/</span></li>
          <li><a href="#">Jobs</a></li>
      </div>
      <div class="block">
        <table>
          <tr>
            <th>Start Date</th>
            <th>Customer Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Phone Number</th>
            <th>Status</th>
          </tr>
          <% @jobs.each do |job| %>
            <tr>
              <td><%= link_to job.created_at, job_path(job)%></td>
              <td><%= job.customer_name%></td>
              <td><%= job.address%></td>
              <td><%= job.city%></td>
              <td><%= job.state%></td>
              <td><%= job.phone%></td>
              <td><%#= job.status%></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

</div>

