<%= form_for @job do |f|%>
  <% if @job.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@job.errors.count, "error") %> prohibited
        this post from being saved:</h2>
    <ul>
    <% @job.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <%= f.label :customer_name, 'Customer Name'%>
  <%= f.text_field :customer_name %>
  <%= f.label :address, 'Address'%>
  <%= f.text_field :address%>
  <%= f.label :state%>
  <%= f.select :state, options_for_select(['Ohio'])%>
  <%= f.label :city%>
  <%= f.text_field :city%>
  <%= f.label :zip_code, "Zip Code"%>
  <%= f.text_field :zip_code%>
  <%= f.label :phone, 'Phone Number'%>
  <%= f.text_field :phone %>
  <%= f.label :email, "Email Id"%>
  <%= f.text_field :email %>
  <%= f.label :insurance_company, 'Insurance Company'%>
  <%= f.select :insurance_company, options_for_select(['State Farm Insurance'])%>
  <%= f.label :adjuster, 'Adjuster'%>
  <%= f.select :adjuster, options_for_select(['Steve Jobs'])%>
  <%= f.label :claim_number, 'Claim Number'%>
  <%= f.text_field :claim_number%></br>
  <%= f.submit%>
<%end%>
