<table border=1>
  <tr>
    <td>Customer Name</td>
    <td>Address</td>
    <td>City</td>
    <td>State</td>
    <td>Zip Code</td>
    <td>Phone</td>
    <td>Email</td>
    <td>Insurance Company</td>
    <td>Adjuster</td>
    <td>Claim Number</td>    
  </tr>
  <tr>
    <td><%= @job.customer_name%></td>
    <td><%= @job.address %></td>
    <td><%= @job.city%></td>
    <td><%= @job.state %></td>
    <td><%= @job.zip_code%></td>
    <td><%= @job.phone %></td>
    <td><%= @job.email%></td>
    <td><%= @job.insurance_company %></td>
    <td><%= @job.adjuster%></td>
    <td><%= @job.claim_number %></td>
  </tr>
</table>


#Add a form for creating inventory
