<body class="narrow"> 

<div class="main">
  <div class="content">
    <%= image_tag "heading_signup.png" %>
    <p class="plan_details">You're signing up for the <strong>Pro</strong> plan (<strong>$10</strong> setup fee, <strong>$1</strong> monthly fee). You will be billed on the <strong>19th</strong> of every month. You can cancel anytime.</p>
    <%= form_for(@subscription, :url => registration_path(@subscription)) do |f| %>
      <% if @subscription.errors.any? %>
        <div class="error_messages error">
          <!--<h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>-->
          <ul>
          <% @subscription.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.hidden_field :plan_id %>

      <%= f.hidden_field :stripe_card_token %>
      <fieldset>
        <h2>Account Information</h2>
        <dl>
          <dt><label>Website</label></dt>
          <dd><%= f.text_field :website %>.contentslab.com</dd>
          <dt><label>Email</label></dt>
          <dd><%= f.email_field :email %></dd>
          <dt><label>Password</label></dt>
          <dd><%= f.password_field :password, :size => 30, :autocomplete => 'off', :class => "password"%></dd>
          <dt><label>Password Confirmation</label></dt>
          <dd><%= f.password_field :password_confirmation %></dd>
        </dl>
      </fieldset>
      <fieldset>
        <h2>Profile Information</h2>
        <dl>
          <dt><label>First Name</label></dt>
          <dd><%= f.text_field :first_name %></dd>
          <dt><label>Last Name</label></dt>
          <dd><%= f.text_field :last_name %></dd>
          <dt><label>Position</label></dt>
          <dd>
            <%= f.select :position, options_for_select(['Executive','Manager','Marketer'])%>
          </dd>
          <dt><label>Company</label></dt>
          <dd><%= f.text_field :company %></dd>
          <dt><label>Company Address</label></dt>
          <dd><%= f.text_field :company_addr %></dd>
          <dt><label>City</label></dt>
          <dd><%= f.text_field :city %></dd>
          <dt><label>State</label></dt>
          <dd>
            <%= f.select :state, options_for_select(['Ohio'])%>
          </dd>
          <dt><label>Zip Code</label></dt>
          <dd><%= f.text_field :zip_code %></dd>
          <dt><label>Country</label></dt>
          <dd>
            <%= f.select :state, options_for_select(['United States'])%>
          </dd>
          <dt><label>Phone Number</label></dt>
          <dd><%= f.text_field :phone_no %></dd>
        </dl>
      </fieldset>
      <fieldset>
        <h2>Billing Information</h2>
        <dl>
          <dt><label>Name on Card</label></dt>
          <dd><input type="text"></dd>
          <dt><label>Card Number</label></dt>
          <dd><%= text_field_tag :card_number, nil, name: nil %></dd>
          <dt><%= label_tag :card_month, "Expiration Date" %></dt>
          <dd>
          <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
          <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
          </dd>
          <dt><%= label_tag :card_code, "Security Code on Card (CVV)" %></dt>
          <dd><%= text_field_tag :card_code, nil, name: nil %></dd>
          <dt></dt>
          <dd><%= f.submit "Sign Up Now" %></dd>
        </dl>
      </fieldset>
    <% end %>
  </div>
</div>

</body>
