<html>
<head>
<title>Contents</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
<link rel="stylesheet" href="stylesheet.css" type="text/css" media="screen" />
</head>

<body class="narrow">
  
  <div class="header">
    <div class="container">
      <div class="logo">
        <img src="images/logo_.png">
      </div>
      <div class="navigation">
        <ul>
        </ul>
      </div>
    </div>
  </div>

<div class="wrapper paper">

<div class="main">
  <div class="content">
    <%= form_for(@subscription, :url => registration_path(@subscription)) do |f| %>
      <% if @subscription.errors.any? %>
        <div class="error_messages">
          <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>
          <ul>
          <% @subscription.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.hidden_field :plan_id %>

      <%= f.hidden_field :stripe_card_token %>
      <fieldset>
        <h2>Account Information</h2>
        <dl>
          <dt><%= f.label :email %></dt>
          <dd><%= f.email_field :email %></dd>
          <dt><%= f.label :password %></dt>
          <dd><%= f.password_field :password, :size => 30, :autocomplete => 'off', :class => "password"%></dd>
          <dt><%= f.label :password_confirmation %></dt>
          <dd><%= f.password_field :password_confirmation %></div></dd>
        </dl>
      </fieldset>
      <fieldset>
        <h2>Profile Information</h2>
        <dl>
          <dt><label>First Name</label></dt>
          <dd><%= f.text_field :first_name %></dd>
          <dt><label>Last Name</label></dt>
          <dd><%= f.text_field :last_name %></dd>
          <dt><label>Position</label></dt>
          <dd>
            <%= f.select :position, options_for_select(['Executive','Manager','Marketer'])%>
          </dd>
          <dt><label>Company</label></dt>
          <dd><%= f.text_field :company %></dd>
          <dt><label>Company Address</label></dt>
          <dd><%= f.text_field :company_addr %></dd>
          <dt><label>City</label></dt>
          <dd><%= f.text_field :city %></dd>
          <dt><label>State</label></dt>
          <dd>
            <%= f.select :state, options_for_select(['Ohio'])%>
          </dd>
          <dt><label>Zip Code</label></dt>
          <dd><%= f.text_field :zip_code %></dd>
          <dt><label>Country</label></dt>
          <dd>
            <%= f.select :state, options_for_select(['United States'])%>
          </dd>
          <dt><label>Phone Number</label></dt>
          <dd><%= f.text_field :phone_no %></dd>
        </dl>
      </fieldset>
      <fieldset>
        <h2>Billing Information</h2>
        <dl>
          <dt><label>Name on Card</label></dt>
          <dd><input type="text"></dd>
          <dt><label>Card Number</label></dt>
          <dd><%= text_field_tag :card_number, nil, name: nil %></dd>
          <dt><%= label_tag :card_month, "Expiration Date" %></dt>
          <dd>
          <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
          <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
          </dd>
          <dt><%= label_tag :card_code, "Security Code on Card (CVV)" %></dt>
          <dd><%= text_field_tag :card_code, nil, name: nil %></dd>
          <dt></dt>
          <dd><%= f.submit "Sign Up Now" %></dd>
        </dl>
      </fieldset>
    <% end %>
  </div>
</div>

</div>

</body>
</html>
