.main
  .sidebar
    .block
      %h3 Billing
      %ul
        %li
          = link_to 'Transactions', '#'
        %li
          = link_to 'Payment Info', payment_info_billings_path(current_subscription.username)
        %li
          = link_to 'Cancel Subscription', cancel_billing_path(current_subscription.username, current_subscription.id, :view => true)
  .content
    = image_tag("heading_billing.png", :class => "heading")
    .breadcrumbs
      %ul
        %li
          = link_to 'Dashboard', dashboards_path(current_subscription.username)
          %span.separator /
        %li
          = link_to 'Billing', billings_path(current_subscription.username)
          %span.separator /
        %li
          = link_to 'Cancel Subscription', cancel_billing_path(current_subscription.username, current_subscription.id)
    .block
      = form_tag cancel_billing_path(current_subscription.username, current_subscription.id), :method => "put" do
        %p
          We're going to miss you. Careful though, once you cancel, your data is gone for good.
          = submit_tag "Cancel my account"
