<div class="main">
  <div class="sidebar">
    <div class="block">
      <h3>Billing</h3>
      <ul>
        <li><a href="#">Transactions</a></li>
        <li><%= link_to 'Payment Info', payment_info_billings_path(current_subscription.username)%></li>
        <li><a href="#">Plan info</a></li>
        <li><%= link_to "Cancel Subscription", "#"%></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <%=image_tag("heading_billing.png", :class => "heading")%>
    <div class="breadcrumbs">
      <ul>
        <li><%=link_to 'Dashboard', dashboards_path(current_subscription.username)%><span class="separator">/</span></li>
        <li><%=link_to 'Billing', billings_path(current_subscription.username)%></li>
    </div>
    <div class="block">
      <table>
        <tr>
          <th>Date</th>
          <th>Type</th>
          <th>Plan</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
        <tr>
          <td><%= @billing.created_at%></td>
          <td><%= @billing.card_type%></td>
          <td><%= @billing.plan.name%></td>
          <td>$<%= "%.2f" % @billing.plan.price%></td>
          <td>Paid</td>
        </tr>
      </table>
    </div>
  </div>
</div>
