.main
  .sidebar
    .block
      %h3 Billing
      %ul
        %li
          %a{:href => "#"} Transactions
        %li
          = link_to "Plan Info", plan_info_billings_path(current_subscription.username)
        %li
          = link_to "Plan Info", plan_info_billings_path(current_subscription.username)
        %li
          %a{:href => "#"} Cancel Subscription
  .content
    = image_tag("heading_billing.png", :class => "heading")
    .breadcrumbs
      %ul
        %li
          %a{:href => "#"} Dashboard
          %span.separator /
        %li
          %a{:href => "#"} Billing
          %span.separator /
        %li
          %a{:href => "#"} Plan Information
    .block
      %h2 Plan Information
      = form_tag plan_update_billing_path(current_subscription.username, @subscription.id), :method => :put do 
        %dl
          %dt Plan
          %dd
            = select_tag "plan_id", options_for_select(Plan.all.collect{|p| [p.name,p.id]})
          %dt
          %dd
            = submit_tag 'Update Plan'
