
<!--  <div class="header">
    <div class="container">
      <div class="logo">
        <img src="images/logo_contentsiq.png">
      </div>
      <div class="navigation">
        <ul>
          <li><a href="#"><img src="images/nav_signin.png"></a></li>
          <li><a href="#"><img src="images/nav_plans.png"></a></li>
          <li><a href="#"><img src="images/nav_tour.png"></a></li>
          <li><a href="#"><img src="images/nav_faq.png"></a></li>
          <li><a href="#"><img src="images/nav_signup.png"></a></li>
        </ul>
      </div>
    </div>
  </div>
-->

<div class="main">
  <div class="content">
    <div class="hero">
      <h1>Easily manage your contents restoration business with our streamlined web app. <a href="/plans/pricing">Sign up now</a> to get started.</h1>
    </div>
    <div class="call_to_action">
      <%=link_to image_tag("button_call_to_action.png"), pricing_plans_path%>
      <p>or take the <a href="/tour">tour</a> and try the <a href="/demo">demo</a>.</p>
    </div>
    <div class="benefits">
      <div class="benefit">
        <%=image_tag("icon_time.png")%>
        <h2>Save Time</h2>
        <p>Don't waste your time tracking contents and managing restoration jobs with paper and Excel files.</p>
      </div>
      <div class="benefit">
        <%=image_tag("icon_organize.png")%>
        <h2>Get Organized</h2>
        <p>Track the location, condition, and status of any item throughout the entire restoration process.</p>
      </div>
      <div class="benefit">
        <%=image_tag("icon_communicate.png")%>
        <h2>Communicate Easily</h2>
        <p>Communication between you, the client, and the adjuster becomes a cinch with our web interface.</p>
      </div>
      <div class="benefit">
        <%=image_tag("icon_money.png")%>
        <h2>Make More Money</h2>
        <p>Running a lean and efficient contents restoration process is the key to making more money.</p>
      </div>
    </div>
    <div class="testimonial">
      <p>We're doing at least one contents restoration job per week. We'd be lost without Contents Lab. <span class="source">Mark Coleman, Capital Cleaning</span></p>
    </div>
  </div>
</div>
