<div class="main">
  <div class="content">
    <%=image_tag("heading_plans.png", :class => "heading")%>
    <div class="block">
      <div class="plan">
        <%=image_tag("plan_basic.png")%>
        <ul>
          <li>$199 setup fee</li>
          <li>1 job per month</li>
          <li>Unlimited items per job</li>
          <li>Online training</li>
          <li>Email support</li>
          <li><%= link_to image_tag("button_signup.png"), "/signup/#{Plan.find_by_name("Basic").try(:name).try(:downcase)}"%></li>
        </ul>       
      </div>
      <div class="plan">
        <%=image_tag("plan_plus.png")%>
        <ul>
          <li>$199 setup fee</li>
          <li>3 jobs per month</li>
          <li>Unlimited items per job</li>
          <li>Online training</li>
          <li>Email support</li>
          <li><%= link_to image_tag("button_signup.png"), "/signup/#{Plan.find_by_name("Plus").try(:name).try(:downcase)}"%></li>
        </ul>       
      </div>
      <div class="plan">
        <%=image_tag("plan_pro.png")%>
        <ul>
          <li>$199 setup fee</li>
          <li>10 jobs per month</li>
          <li>Unlimited items per job</li>
          <li>Online training</li>
          <li>Email support</li>
          <li><%= link_to image_tag("button_signup.png"), "/signup/#{Plan.find_by_name("Pro").try(:name).try(:downcase)}"%></li>
        </ul>       
      </div>
    </div>
  </div>
</div>
