<!DOCTYPE html>
<html>
<head>
  <title><%=subscription_signed_in? ? "Contents" : "All Plans" %></title>  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%= yield :head %>
</head>
<body>
  <%if false%>	
    <div class="navigation">
      <ul> 
        <% if subscription_signed_in? %>
          <li style="float:right"><%= link_to image_tag('nav_signout.png'), destroy_subscription_session_path, :method => :delete %><br /></li> 
        <% else %> 
          <li style="float:right"><%= link_to image_tag('heading_signin.png'), new_session_path(resource_name) %><br /></li> 
        <%end%>
      </ul>
    </div>
  <%end%>

<% if subscription_signed_in? %>
  <div class="header">
    <div class="container">
      <div class="logo">
        <%=image_tag("logo_contentslab.png")%>
      </div>
      <div class="navigation">
        <ul> 
          <li><%= link_to image_tag("nav_dashboard.png"), "/#{current_subscription.username}/dashboards"%></li>  
          <li><%= link_to image_tag('nav_jobs.png'), "/#{current_subscription.username}/jobs"%></li> 
          <li><%= link_to image_tag("nav_contacts.png"), "#"%></li>   
          <li><%= link_to image_tag("nav_settings.png"), "#"%></li> 
          <li><%= link_to image_tag("nav_billing.png"), "/#{current_subscription.username}/billings"%></li> 
          <li><%= link_to image_tag("nav_signout.png"), destroy_subscription_session_path, :method => :delete%></li>             
        </ul>
      </div>
    </div>
  </div> 
<% elsif params["plan_id"].blank? && !request.url.include?('/sign_in')%>
  <div class="header">
    <div class="container">
      <div class="logo">
        <%=image_tag("logo_contentslab.png")%>
      </div>
      <div class="navigation">
        <ul>
          <li><%= link_to image_tag("nav_signin.png"), new_session_path(resource_name)%></li>
          <li><%= link_to image_tag("nav_plans.png"), pricing_plans_path%></li>
          <li><%= link_to image_tag("nav_tour.png"), root_path%></li>
          <li><%= link_to image_tag("nav_faq.png"), root_path%></li>
          <li><%= link_to image_tag("nav_signup.png"), root_path%></li>
        </ul>
      </div>
    </div>
  </div>
<%else%>
  <div class="header">
    <div class="container">
      <div class="logo">
        <%=image_tag("logo_contentslab.png")%>
      </div>
      <div class="navigation">
        <ul>
        </ul>
      </div>
    </div>
  </div>
<%end%>

<div class="wrapper paper">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
  <%= yield %>
</div>

<div class="footer">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/terms">Terms</a></li>
    <li><a href="/privacy">Privacy</a></li>
    <li><%=image_tag("logo_footer_contentslab.png")%></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/twitter">Twitter</a></li>
    <li><a href="/facebook">Facebook</a></li>
  </ul>
</div>
</body>
</html>
