<!DOCTYPE html>
<html>
<head>
  <title>All Plans</title>  
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%= yield :head %>
</head>
<body>	
  <div class="navigation">
    <ul> 
      <% if subscription_signed_in? %>
        <li style="float:right"><%= link_to image_tag('nav_signout.png'), destroy_subscription_session_path, :method => :delete %><br /></li> 
      <% else %> 
        <li style="float:right"><%= link_to image_tag('heading_signin.png'), new_session_path(resource_name) %><br /></li> 
      <%end%>
    </ul>
  </div>

<% if subscription_signed_in? %>
  <div class="header">
    <div class="container">
      <div class="logo">
        <img src="images/logo_.png">
      </div>
      <div class="navigation">
        <ul> 
          <li><%= link_to image_tag("nav_dashboard.png"), root_path%></li>  
          <li><%= link_to image_tag('nav_jobs.png'), jobs_path%></li>  
          <li><%= link_to image_tag("nav_billing.png"), "#"%></li> 
          <li><%= link_to image_tag("nav_contacts.png"), "#"%></li>  
          <li><%= link_to image_tag("nav_settings.png"), "#"%></li>              
        </ul>
      </div>
    </div>
  </div> 
<% end %>

  <div id="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield %>
  </div>
<div class="footer">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/terms">Terms</a></li>
    <li><a href="/privacy">Privacy</a></li>
    <li><img src="images/logo_footer_jlinshirt.png"></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/twitter">Twitter</a></li>
    <li><a href="/facebook">Facebook</a></li>
  </ul>
</div>
</body>
</html>
